<section id="tasks">
  <!-- Task Heading -->
  <header>
    <h1>{{ name }}'s Tasks</h1>

    <menu>
      <button (click)="setIsAddingTask(true)">Add Task</button>
    </menu>
  </header>

  <!-- Task List -->
  @if(selectedUserTasks.length > 0){
  <ul>
    @for (task of selectedUserTasks; track task.id){
    <li>
      <app-task [task]="task" />
    </li>
    }
  </ul>
  } @else {
  <p>no tasks</p>
  }
</section>

<!-- ADD Task -->
@if (isAddingTask){
<app-new-task [userId]="userId" (closeAddTask)="setIsAddingTask(false)" />
}
