@if(tableData.length > 0){
<table>
  <thead>
    <tr>
      <th>year</th>
      <th>investment value</th>
      <th>interest (year)</th>
      <th>total interest</th>
      <th>invested capital</th>
    </tr>
  </thead>

  <tbody>
    @for (row of tableData; track row.year) {
    <tr [class.even]="row.year % 2">
      <td>{{ row.year }}</td>
      <td>{{ row.valueEndOfYear | currency }}</td>
      <td>{{ row.interest | currency }}</td>
      <td>{{ row.totalInterest | currency }}</td>
      <td>{{ row.totalAmountInvested | currency }}</td>
    </tr>
    }
  </tbody>
</table>
} @else {
<p>Please enter some values and press 'Calculate'</p>
}
